section#about.section
	.container
		//- Section Title
		.section-title
			h1 About me
			span.border
			p
				| Experienced Senior Engineer, Dependable SRE, Nodejs addict, Husband, Father of 3 and the Biggest Tribe Fan Ever. 
		//- Section Title End
		.row
			.col-md-6
				img.img-about(src='/public/img/grasso_family.jpg', alt='my family')
			.col-md-6
				h2 Sean Grasso
				h4 Senior Software Engineer
				h5 From Cleveland
				p
					| My full stack experience goes beyond JS to several others languages, but my primary interest and expertise evolves around everything JavaScript and Node.js.  I am an experienced advocate for docker container usage and a DevOps support structure.  You can usually always find me being a geek and hacking something. I am a busy father of 3, but enjoy an extensive knowledge and interest in the game of baseball. If you feel inclined to learn more or have a project in need of a senior level engineer feel free to drop me a line.