//- Section : Blog
section#blog.section
	.container
		//- section title
		.section-title
			h1 My Blog
			span.border
			p
				| European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish porbeagle shark ricefish walking catfish.
		//- section title end
		//- blog post holder
		.blog-post-holder
			//- blog post
			.blog-post
				img(src='http://placehold.it/600x427', alt='image')
				h3.blog-title
					a(href='#') Standard blog post with image
				p.blog-meta
					| Posted by 
					a(href='#') Admin
					|  | 6 November 
					a(href='#') 5 Comments
				.border
				.blog-content
					p
						| Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel. Praesent leo orci...
				a.btn(href='#') Read More
			//- blog post end
			//- blog post  quote
			.blog-quote
				a(href='#')
					.post-quote
						h2 I'm not a genius. I'm just a tremendous bundle of experience.
						p - R. Buckminster Fuller
			//- blog post quote end
			//- blog post
			.blog-post
				#blog-carousel.owl-carousel.owl-theme
					.item
						img(src='http://placehold.it/800x450', alt='')
					.item
						img(src='http://placehold.it/800x450', alt='')
					.item
						img(src='http://placehold.it/800x450', alt='')
				h3.blog-title
					a(href='#') Standard blog post with gallery
				p.blog-meta
					| Posted by 
					a(href='#') Admin
					|  | 6 November 
					a(href='#') 5 Comments
				.border
				.blog-content
					p
						| Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel. Praesent leo orci...
				a.btn(href='#') Read More
			//- blog post end
			//- blog video post
			.blog-post
				.video-holder
					//- iframe(src='http://player.vimeo.com/video/76175542?title=0', width='800', height='450')
				h3.blog-title
					a(href='#') Standard blog post with video
				p.blog-meta
					| Posted by 
					a(href='#') Admin
					|  | 6 November 
					a(href='#') 5 Comments
				.border
				.blog-content
					p
						| Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel. Praesent leo orci...
				a.btn(href='#') Read More
			//- blog video post end
			//- blog post
			.blog-post
				h3.blog-title
					a(href='#') Blog post with text only
				p.blog-meta
					| Posted by 
					a(href='#') Admin
					|  | 6 November 
					a(href='#') 5 Comments
				.border
				.blog-content
					p
						| Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel. Praesent leo orci...
				a.btn(href='#') Read More
			//- blog post end
			//- blog post  quote
			.blog-quote
				a(href='#')
					.post-quote
						h2 Artists themselves are not confined, but their output is.
						p - Robert Smithson
			//- blog post quote end
		//- blog post holder end
//- Section : Blog end
