//- Section : clients
section#clients.section
	.container
		//- section title
		.section-title
			h1 our Clients
			span.border
			p
				| We work with great brands. Close partnerships with really cool clients let us do world-class work.
		//- section title end
		//- Clients logo
		.row
			ul.clients_logo
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130g', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130g', alt='logo')
				li.col-xs-6.col-sm-4.col-md-3
					a(href='#')
						img.img-responsive(src='http://placehold.it/250x130g', alt='logo')
		//- Clients logo end
		//- Clients Testimonials
		.row
			#testimonials
				.col-md-6.box.testimonials
					img(src='http://placehold.it/120x120', alt='')
					blockquote
						p There is darkness Everywhere! You are not the only one who has lost everything!
					.author
						| Author Name - 
						a(href='') WebSite
				.col-md-6.box.testimonials
					img(src='http://placehold.it/120x120', alt='')
					blockquote
						p There is darkness Everywhere! You are not the only one who has lost everything!
					.author
						| Author Name - 
						a(href='') WebSite
		//- Clients Testimonials end
//- Section : Clients end
