//- Section : Contact
section#contact.section
	.container
		//- section title
		.section-title
			h1 Connect with me
			span.border
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco .
		//- section title end
		.row
			.col-md-4.get_in
				i.fa.fa-envelope-o
				h4 sean.grasso@gmail.com
			.col-md-4.get_in
				i.fa.fa-map-marker
				h4 Cleveland, Ohio
			.col-md-4.get_in
				//- social Icons
				include social.jade
			//- contact from end
//- Section : Contact end
