.main-nav
	nav.navbar.navbar-default(role='navigation')
		.container-fluid
			//- Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			//- Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a.colapse-menu1.active(href='#home') Home
					li
						a.colapse-menu1(href='#about') About
					li
						a.colapse-menu1(href='#resume') Resume
					li
						a.colapse-menu1(href='#skills') Skills
					li
						a.colapse-menu1(href='#service') Service
					li
						a.colapse-menu1(href='#portfolio') Portfolio
					li
						a.colapse-menu1(href='#clients') Clients
					li
						a.colapse-menu1(href='#pricetable') Price Table
					li
						a.colapse-menu1(href='#blog') Blog
					li
						a.colapse-menu1(href='#contact') Contact
			//- /.navbar-collapse
		//- /.container-fluid
	//- End of Navigation