//- Section : Portfolio
section#portfolio.section
	.container
		//- section title
		.section-title
			h1 My Code
			span.border
			p
				| Code and projects I have built and/or worked on.  Feel free to like, contribute or tell your freinds. :)
		//- section title end
		.portfolio-start
		//- Project Details
		#project-details-box
			#project-data
		//- /Project Details end
		//- #options
		#options.clearfix
			ul#filters.option-set.clearfix(data-option-key='filter')
				li
					a.selected(href='#filter', data-option-value='*') all works
				li
					a(href='#filter', data-option-value='.github') github
				li
					a(href='#filter', data-option-value='.gist') gist
				li
					a(href='#filter', data-option-value='.npm') npm
				li
					a(href='#filter', data-option-value='.websites') websites
		//- #options end
		//- Portfolio container
		.portfolio-container
			//- Portfolio Item
			.portfolio-item.mt.github
				a.project-link(href='works/works1.html', title='Open Project')
					.portfolio-image
						img(src='http://placehold.it/600x427', alt='Portfolio 1')
					.item-overlay
						.item-info
							.zoom-icon
							h4.item-name Project Title
							p.item-type Video
			//- /Portfolio Item
			//- Portfolio Item
			.portfolio-item.mt.github.gist
				a.project-link(href='works/works2.html', title='Open Project')
					.portfolio-image
						img(src='http://placehold.it/600x427', alt='Portfolio 1')
					.item-overlay
						.item-info
							.zoom-icon
							h4.item-name Project Title
							p.item-type Slider
			//- /Portfolio Item
			//- Portfolio Item
			.portfolio-item.mt.npm.github
				a.project-link(href='works/works1.html', title='Open Project')
					.portfolio-image
						img(src='http://placehold.it/600x427', alt='Portfolio 1')
					.item-overlay
						.item-info
							.zoom-icon
							h4.item-name Project Title
							p.item-type Video
			//- /Portfolio Item
			//- Portfolio Item
			.portfolio-item.mt.npm
				a.project-link(href='works/works2.html', title='Open Project')
					.portfolio-image
						img(src='http://placehold.it/600x427', alt='Portfolio 1')
					.item-overlay
						.item-info
							.zoom-icon
							h4.item-name Project Title
							p.item-type Slider
			//- /Portfolio Item
			//- Portfolio Item
			.portfolio-item.mt.branding.github.gist.websites
				a.project-link(href='works/works1.html', title='Open Project')
					.portfolio-image
						img(src='http://placehold.it/600x427', alt='Portfolio 1')
					.item-overlay
						.item-info
							.zoom-icon
							h4.item-name Project Title
							p.item-type Video
			//- /Portfolio Item
		//- Portfolio container end
//- Section : Portfolio end
