
    // Section : Portfolio
    section#portfolio.section
      .container
        // section title
        .section-title
          h1 Portfolio
          span.border
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco .
        // section title end
        .portfolio-start
        // Project Details
        #project-details-box
          #project-data
        // /Project Details end
        // #options
        #options.clearfix
          ul#filters.option-set.clearfix(data-option-key='filter')
            li
              a.selected(href='#filter', data-option-value='*') all works
            li
              a(href='#filter', data-option-value='.webdesign') webdesign
            li
              a(href='#filter', data-option-value='.uidesign') uidesign
            li
              a(href='#filter', data-option-value='.branding') branding
            li
              a(href='#filter', data-option-value='.logodesign') logodesign
            li
              a(href='#filter', data-option-value='.illustration') illustration
            li
              a(href='#filter', data-option-value='.photography') photography
        // #options end
        // Portfolio container
        .portfolio-container
          // Portfolio Item
          .portfolio-item.mt.uidesign.logodesign
            a.project-link(href='works/works1.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Video
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.webdesign.logodesign.photography
            a.project-link(href='works/works2.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Slider
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.uidesign.photography
            a.project-link(href='works/works1.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Video
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.webdesign
            a.project-link(href='works/works2.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Slider
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.branding.logodesign.photography
            a.project-link(href='works/works1.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Video
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.webdesign.illustration
            a.project-link(href='works/works2.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Slider
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.branding.illustration
            a.project-link(href='works/works1.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Video
          // /Portfolio Item
          // Portfolio Item
          .portfolio-item.mt.webdesign.illustration
            a.project-link(href='works/works2.html', title='Open Project')
              .portfolio-image
                img(src='http://placehold.it/600x427', alt='Portfolio 1')
              .item-overlay
                .item-info
                  .zoom-icon
                  h4.item-name Project Title
                  p.item-type Slider
          // /Portfolio Item
        // Portfolio container end
    // Section : Portfolio end
