
    //- Section : Price Table
    section#pricetable.section
      .container
        //- section title
        .section-title
          h1 Price Table
          span.border
          p
            | European minnow priapumfish mosshead warbonnet shrimpfish bigscale. Cutlassfish porbeagle shark ricefish walking catfish .
        //- section title end
        .row
          //- single price table
          .col-xs-12.col-sm-4.col-md-3
            .price-pack.text-center.clearfix
              .package-header
                .name Personal
              .package-price
                .price Free!
              .package-features
                ul
                  li Up to 3 users
                  li 3 GB storage
                  li Unlimited sets
                  li Unlimited workspaces
                  li iPhone App
                  li Private URLs
              a.btn.border-btn.white(href='#') Sign Up
          //- single price table end
          //- single price table
          .col-xs-12.col-sm-4.col-md-3
            .price-pack.text-center.clearfix
              .package-header
                .name Basic
              .package-price
                .price
                  | $24,-
                  small /mo
              .package-features
                ul
                  li Up to 3 users
                  li 3 GB storage
                  li Unlimited sets
                  li Unlimited workspaces
                  li iPhone App
                  li Private URLs
              a.btn.border-btn.white(href='#') Sign Up
          //- single price table end
          //- single price table
          .col-xs-12.col-sm-4.col-md-3
            .price-pack.text-center.clearfix
              .package-header
                .name Plus
              .package-price
                .price
                  | $44,-
                  small /mo
              .package-features
                ul
                  li Up to 3 users
                  li 3 GB storage
                  li Unlimited sets
                  li Unlimited workspaces
                  li iPhone App
                  li Private URLs
              a.btn.border-btn.white(href='#') Sign Up
          //- single price table end
          //- single price table
          .col-xs-12.col-sm-4.col-md-3
            .price-pack.text-center.clearfix
              .package-header
                .name Premium
              .package-price
                .price
                  | $69,-
                  small /mo
              .package-features
                ul
                  li Up to 3 users
                  li 3 GB storage
                  li Unlimited sets
                  li Unlimited workspaces
                  li iPhone App
                  li Private URLs
              a.btn.border-btn.white(href='#') Sign Up
          //- single price table end
    //- Section : Price Table end
