    section#resume.section
      .container
        //- section title
        .section-title
          h1 My resume
          span.border
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco .
        //- section title end
        //- Experience Timeline
        .row
          .col-md-12
            .timeline
              //- Item Head
              .timeline-item
                .timeline-head
                  span.fa.fa-lightbulb-o
                    i
                .timeline-arrow
                  i
                .timeline-head-content
                  h3 Work Experience
              //- /Item Head end
              //- first item of timeline
              .timeline-item
                .timeline-item-date 2011 - now
                //- date
                //- timeline item trigger
                .timeline-item-trigger
                  span.fa.fa-minus(data-toggle='collapse', data-target='#job1')
                    i
                //- /end of timeline item trigger
                .timeline-arrow
                  i
                //- timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#job1') Senior UX Designer @ Company
                  #job1.collapse.in
                    p
                      small.muted from 2011 to present day
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                    p
                      a.noprint(href='#', title='') → View website
                //- /end of timeline main content
              //- /end of first item of timeline
              //- Timeline item
              .timeline-item
                .timeline-item-date 2010 - 2011
                //- date
                .timeline-item-trigger
                  span.fa.fa-plus(data-toggle='collapse', data-target='#job2')
                    i
                .timeline-arrow
                  i
                //- Timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#job2') Junior UX Designer @ Company
                  #job2.collapse
                    p
                      small.muted from 2010 to 2011
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                //- /end of timeline content
              //- /end of timeline item
              //- Timeline item
              .timeline-item
                .timeline-item-date 2010 - 2011
                //- date
                .timeline-item-trigger
                  span.fa.fa-plus(data-toggle='collapse', data-target='#job3')
                    i
                .timeline-arrow
                  i
                //- Timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#job3') Junior UX Designer @ Company
                  #job3.collapse
                    p
                      small.muted from 2010 to 2011
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                //- /end of timeline content
              //- /end of timeline item
              //- Timeline item
              .timeline-item
                .timeline-item-date 2010 - 2011
                //- date
                .timeline-item-trigger
                  span.fa.fa-plus(data-toggle='collapse', data-target='#job4')
                    i
                .timeline-arrow
                  i
                //- Timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#job4') Junior UX Designer @ Company
                  #job4.collapse
                    p
                      small.muted from 2010 to 2011
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                //- /end of timeline content
              //- /end of timeline item
            //- /Experience Timeline End
            //- Education Timeline
            .timeline
              //- Item Head
              .timeline-item
                .timeline-head
                  span.li_study
                    i
                .timeline-arrow
                  i
                .timeline-head-content
                  h3 Education
              //- /Item Head end
              //- first item of timeline
              .timeline-item
                .timeline-item-date 2010 - now
                //- date
                //- timeline item trigger
                .timeline-item-trigger
                  span.fa.fa-minus(data-toggle='collapse', data-target='#edu1')
                    i
                //- /end of timeline item trigger
                .timeline-arrow
                  i
                //- timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#edu1') Phd Computer Science
                  #edu1.collapse.in
                    p
                      small.muted from 2010 to present day
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                    p
                      a.noprint(href='#', title='') → View website
                //- /end of timeline main content
              //- /end of first item of timeline
              //- Timeline item
              .timeline-item
                .timeline-item-date 2006 - 2010
                //- date
                .timeline-item-trigger
                  span.fa.fa-plus(data-toggle='collapse', data-target='#edu2')
                    i
                .timeline-arrow
                  i
                //- Timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#edu2') University
                  #edu2.collapse
                    p
                      small.muted from 2006 to 2010
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                //- /end of timeline content
              //- /end of timeline item
              //- Timeline item
              .timeline-item
                .timeline-item-date 1996 - 2006
                //- date
                .timeline-item-trigger
                  span.fa.fa-plus(data-toggle='collapse', data-target='#edu3')
                    i
                .timeline-arrow
                  i
                //- Timeline main content
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#edu3') High School
                  #edu3.collapse
                    p
                      small.muted from 1996 to 2006
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                //- /end of timeline content
            //- /Education Timeline End
    //- Section : Resume end