//- Section : Service
section#service.section
	.container
		//- section title
		.section-title
			h1 what i can provide
			span.border
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco .
		//- section title end
		.row
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_bulb
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_camera
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_params
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_lab
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_settings
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_cloud
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_phone
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
			.service-item.col-xs-12.col-sm-4.col-md-3
				span.icon
					i.li_bubble
				h5 User Experience
				p
					| At the heart of everything we do lies a great user experience. We take pride in our interfaces and really think and test them through
//- Section : Service end
