 // Section : skills
    section#skills.section
      .container
        // section title
        .section-title
          h1 I am good at
          span.border
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco .
        // section title end
        .row
          .col-md-6
            ul.skill
              li
                .skill-wrap
                  span(data-width='80')
                    strong Web Application 80%
              li
                .skill-wrap
                  span(data-width='100')
                    strong Respoinsive Web Design 100%
              li
                .skill-wrap
                  span(data-width='70')
                    strong User Experience 70%
          .col-md-6
            ul.skill
              li
                .skill-wrap
                  span(data-width='70')
                    strong Apps Development 70%
              li
                .skill-wrap
                  span(data-width='90')
                    strong Photography 90%
              li
                .skill-wrap
                  span(data-width='80')
                    strong Marketing   80%
        // skills end
    // Section : skills end