section#skills.section
	.container
		//- section title
		.section-title
			h1 I am good at
			span.border
			p
				| You can find me hacking in these languages and frameworks daily. These are my best but not only skills. I have excellent knowledge of Coldfusion (not the nuclear reaction stuff), MSSQL, as well as Azure and AWS Serivces.  Linux based operating systems is where I prefer to spend my time while using git, docker, and even google and amazon cloud solutions to manage build processes.
		//- section title end
		.row
			.col-lg-3
				.circle-container
					h3 Javascript
						.jsSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='95', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Node.js
						.nodeSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='90', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Hapi.js
						.hapiSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='99', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 MongoDB
						.mongoSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='70', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
		.row
			.col-lg-3
				.circle-container
					h3 Nginx
						.nginxSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='82', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Vue.js
						.vueSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='75', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Docker
						.dockerSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='82', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Webpack
						.webpackSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='80', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
		//- skills end
//- Section : skills end