section#skills.section
	.container
		//- section title
		.section-title
			h1 I am good at
			span.border
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco .
		//- section title end
		.row
			.col-lg-3
				.circle-container
					h3 Javascript
						.jsSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='95', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Node.js
						.nodeSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='90', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Hapi.js
						.hapiSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='97', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 MongoDB
						.mongoSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='79', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
		.row
			.col-lg-3
				.circle-container
					h3 Nginx
						.nginxSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='85', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Bootstrap
						.bootstrapSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='94', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 React
						.reactSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='75', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
			.col-lg-3
				.circle-container
					h3 Webpack
						.webpackSkills.circlestat(data-foregroundBorderWidth='15', data-backgroundBorderWidth='15', data-percentageTextSize='22', data-percent='90', data-foregroundColor='#F4A622', data-backgroundColor='#373432', data-fontColor='#373432', data-iconPosition='middle', animateInView='true')
		//- skills end
//- Section : skills end