ul.social
	li
		a.facebook(href='#')
	li
		a.twitter(href='#')
	li
		a.linkedin(href='#')
	li
		a.google(href='#')
	li
		a.github(href='#')
	//- li
	//- 	a.instagram(href='#')
	//- li
	//- 	a.behance(href='#')
	//- li
	//- 	a.dribble(href='#')
	//- li
	//- 	a.lastfm(href='#')
	//- li
	//- 	a.rss(href='#')
	//- li
	//- 	a.vimeo(href='#')
	//- li
	//- 	a.forrst(href='#')
	//- li
	//- 	a.pinterest(href='#')
	//- li
	//- 	a.skype(href='#')
	//- li
	//- 	a.picassa(href='#')
	//- li
	//- 	a.youtube(href='#')
	//- li
	//- 	a.flickr(href='#')
	//- li
	//- 	a.tumblr(href='#')
	//- li
	//- 	a.blogger(href='#')
	//- li
	//- 	a.delicious(href='#')
	//- li
	//- 	a.digg(href='#')
	//- li
	//- 	a.friendfeed(href='#')
	//- li
	//- 	a.wordpress(href='#')