//- Section : work
section#work.section
	.container
		//- section title
		.section-title
			h1 Where I Work
			span.border
			.row
				ul.clients_logo.col-sm-4
					li
						img.img-responsive(src='/public/img/kalibrate_logo.png', alt='my work', style='margin: 0 auto;')
				p.col-sm-8
					| Senior Software Engineer helping create a comprehensive decision platform for fuel pricing and location planning. 
		//- section title end
//- Section : work end
