extends layouts/default

block content
	include partials/about
	include partials/parallax/hire
	//- include partials/resume
	include partials/blog
	include partials/parallax/quote
	include partials/skills
	//- include partials/services
	//- include partials/parallax/work
	//- include partials/portfolio
	include partials/parallax/twitter
	//- include partials/clients
	//- include partials/parallax/status
	include partials/contact
