extends layouts/default.jade

block content
	include partials/about.jade
	include partials/parallax/status.jade
	include partials/resume.jade
	include partials/skills.jade
	include partials/parallax/quote.jade
	include partials/services.jade
	include partials/parallax/work.jade
	include partials/portfolio.jade
	include partials/parallax/hire.jade
	include partials/clients.jade
	include partials/blogPreview.jade
	include partials/parallax/twitter.jade
	include partials/contact.jade
