#hire.parallax(style="background-image: url('/public/img/computer_1350x900.jpg');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
	.parallax-overlay-2
		.container
			.row
			.col-md-12
				img(src='/public/img/grassos-logo.png', alt='grasso logo' style='padding-bottom:5px;') 
				h1(style='margin-bottom:20px;') "Let's Build Cool Stuff Together!"
				a.mt-button.large.outline(href='mailto:info@seangrasso.com?subject=Hire%20Me%20-%20I%20Need%20to%20Put%20You%20to%20Work') Hire Me
