#another.parallax(style="background-image: url('http://placehold.it/1920x900');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
	.parallax-overlay-2
		.container
			.row
			.col-md-12
				h1 "Design is hard work. Striving for design excellence is even harder."
				p -Archie Boston