#another.parallax(style="background-image: url('/public/img/code1_1920x1280.jpg');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
	.parallax-overlay-2
		.container
			.row
			.col-md-12
				h1 "Design is hard work. Striving for design excellence is even harder."
				p -Archie Boston