#another.parallax(style="background-image: url('" + assetdomain + "/img/code1_1920x1280.jpg');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
	.parallax-overlay-2
		.container
			.row
			//- .col-md-12
				//- h1 “Duty is ours; results are God's.”
				//- p ― John Quincy Adams
			.col-md-12
				h1 “The people who make it in this world are the people who get up and look for the circumstances they want and if they can't find them, make them.”
				p ― George Bernard Shaw