#status.parallax(style="background-image: url('http://placehold.it/1920x900');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
      .parallax-overlay-2
        .container
          // Title
          .title
            h1 Status
            span.border
          // Title
          // Status
          .row.count
            .col-xs-6.col-sm-6.col-md-3.single
              .total-numbers(data-perc='1300')
                i.cicon.icon-instagram-1
                span.sum 1000
                | 									 SHOTS CAPTURED
            .col-xs-6.col-sm-6.col-md-3.single
              .total-numbers(data-perc='1300')
                i.cicon.icon-jabber
                span.sum 18
                | 									 PROJECTS COMPLETED
            .col-xs-6.col-sm-6.col-md-3.single
              .total-numbers(data-perc='1300')
                i.cicon.icon-child
                span.sum 1400
                | 									 SATISFIED CUSTOMERS
            .col-xs-6.col-sm-6.col-md-3.single
              .total-numbers(data-perc='1300')
                i.cicon.icon-bicycle
                span.sum 1450
                | 									KM CYCLED
          // Status end