#twitter.parallax(style="background-image: url('/public/img/code2_1348x900.jpg');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
	.parallax-overlay-2
		.container
			//- twitter feed
			//- Title
			.title 
				#{tweet}
				i.icon-twitter
			//- Title
			article#tweet-sroll-wrapper.clearfix
				.tweets-list-container
					#{tweet_content}
			//- twitter feed end