#twitter.parallax(style="background-image: url('http://placehold.it/1920x900');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
      .parallax-overlay-2
        .container
          // twitter feed
          // Title
          .title
            i.icon-twitter
          // Title
          article#tweet-sroll-wrapper.clearfix
            .tweets-list-container
          // twitter feed end