#wprocess.parallax(style="background-image: url('http://placehold.it/1920x900');", data-stellar-background-ratio='0.6', data-stellar-vertical-offset='20')
	.parallax-overlay-2
		.container
			// Title
			.title
				h1 Work Process
				span.border
			// Title
			.row
				.col-xs-6.col-sm-4.col-md-2
					// work_process
					.work_process
						.work_process-box
							i.icon-lamp
							h4 IDEA
					// work_process
				.col-xs-6.col-sm-4.col-md-2
					// work_process
					.work_process
						.work_process-box
							i.fa.fa-puzzle-piece
							h4 CONCEPT
					// work_process
				.col-xs-6.col-sm-4.col-md-2
					// work_process
					.work_process
						.work_process-box
							i.icon-brush
							h4 DESIGN
					// work_process
				.col-xs-6.col-sm-4.col-md-2
					// work_process
					.work_process
						.work_process-box
							i.fa.fa-code
							h4 DEVELOP
					// work_process
				.col-xs-6.col-sm-4.col-md-2
					// work_process
					.work_process
						.work_process-box
							i.fa.fa-bug
							h4 TEST
					// work_process
				.col-xs-6.col-sm-4.col-md-2
					// work_process
					.work_process
						.work_process-box
							i.fa.fa-rocket
							h4 LAUNCH
					// work_process