doctype html
html
head
    link(rel='stylesheet', href='/public/css/styles.css')

body
    //- .mask
    //-   .bubblingG
    //-     span#bubblingG_1
    //-     span#bubblingG_2
    //-     span#bubblingG_3

    block content

    footer
      .container
        .copyright  ©2014 Sean Grasso All rights reserved.
