doctype html
html

body
    // Preloader
    .mask
      .bubblingG
        span#bubblingG_1
        span#bubblingG_2
        span#bubblingG_3
    // Preloader end

    block content

    // Footer
    footer
      .container
        .copyright  © 2014 metrothemes All rights reserved.
    // Footer end