doctype html
html
head
	link(rel='stylesheet', href='/public/css/styles.css')
	block css
body
	div#page-wrapper
		block header
		
		block content
		
	footer
		.container
		.copyright ©2014 Sean Grasso All rights reserved.

	block js
